body {
  margin: 0;
  padding: 0;
}
body{
    transition: all 0.7s linear;
}
.logo {
  width: 100px;
  transition: all 0.5s linear;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav {
  flex: 1;
  width: 50%;
}
nav ul {
  margin: 0;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  text-decoration: none;
  color: #000;
  transition: all 0.4s linear;
}
nav ul li a:hover {
  background: #ededed;
  color: blue;
}
.half {
  width: 50%;
}

.container {
  background: #ededed;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

.btn {
  background: blue;
  color: white;
  padding: 20px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s linear;
}
.btn:hover {
  color: blue;
  background: white;
}

footer {
  background: #2f2f2f;
  color: white;
  padding: 20px 0;
  text-align: center;
}
